.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .register-input {
    padding: 10px;
    width: 94%;
    margin-bottom: 10px;
    background-color: #444;
    border: 1px solid #555;
    color: #ddd;
  }
  
  .register-select {
    padding: 10px;
    width: 100%;
    background-color: #444;
    border: 1px solid #555;
    color: #ddd;
  }
  
  .register-button {
    padding: 10px;
    width: 100%;
    background-color: #440000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .register-button:hover {
    background-color: #550000;
  }
  
  .register-link {
    color: #ff8800;
    text-decoration: none;
  }
  
  .register-link:hover {
    color: #ffbb33;
  }